@model API.Core.DTOs.Product.CreateProductDTO
@using System.Security.Claims
@using API.Core.DTOs.Category
@using API.Core.DTOs.Company

@*@section Styles{
    <link rel="stylesheet" href="~/lib/MDBootstrap/dist/css/mdb.dark.min.css" />
    <link rel="stylesheet" href="~/lib/MDBootstrap/dist/css/mdb.dark.rtl.min.css" />
    <link rel="stylesheet" href="~/lib/MDBootstrap/dist/css/mdb.min.css" />
    <link rel="stylesheet" href="~/lib/MDBootstrap/dist/css/mdb.rtl.min.css" />
    }*@

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<GetCategoryDTO> categories = ViewBag.Categories as List<GetCategoryDTO>;
    List<GetCompanyDTO> companies = ViewBag.Companies as List<GetCompanyDTO>;
}

<div class="container">
    <form asp-controller="Home" asp-action="CreateProduct" method="post">

        <div class="form-group">
            <label for="Name">Ürün Adı</label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Enter Name">
            <span asp-validation-for="Name" class="alert-danger"></span>
        </div>

        <div class="form-group mt-4">
            <label for="Description">Açıklama</label>
            <input type="text" class="form-control" asp-for="Description" placeholder="Enter Description">
            <span asp-validation-for="Description" class="alert-danger"></span>
        </div>

        <div class="form-group mt-4">
            @Html.LabelFor(x=> x.Price,"Fiyat", htmlAttributes: new { @class = "control-label w-100" })
            @*@Html.DisplayFor(x=> x.Price,"Decimal")*@
            @Html.EditorFor(x=> x.Price,"decimal")
            @*<input type="number" class="form-control" asp-for="Price" placeholder="Enter Price">*@
            <span asp-validation-for="Price" class="alert-danger"></span>
        </div>

        <div class="form-group mt-4">
            <label for="categories"></label>
            
            <select id="categories" name="Categories" class="form-control" multiple="multiple">
                @foreach (var category in categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>

        </div>

        <div class="form-group mt-4">
            <label for="categories"></label>

            <select id="companies" name="Companies" class="form-control" multiple="multiple">
                @foreach (var company in companies)
                {
                    <option value="@company.Id">@company.Name</option>
                }
            </select>

        </div>

        <button type="submit" class="btn btn-primary mt-5">Create</button>
    </form>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#categories').select2({
                closeOnSelect: false,
                placeholder: 'Kategorileri Seçiniz'
            });

              $('#companies').select2({
                closeOnSelect: false,
                placeholder: 'Firmaları Seçiniz'
            });
        });
    </script>
}




