@model List<GetProductDTO>
@using System.Security.Claims
@using API.Core.DTOs.Category
@using API.Core.DTOs.Company
@using API.Core.DTOs.Product;
@using API.Core.RoleDefinitions;

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table id="products" class="stripe">
        <thead>
            <tr>
                <th class="visually-hidden">@Html.DisplayNameFor(x=> x.FirstOrDefault().Id)</th>
                <th>@Html.DisplayNameFor(x=> x.FirstOrDefault().Name)</th>
                <th>@Html.DisplayNameFor(x=> x.FirstOrDefault().Description)</th>
                <th>@Html.DisplayNameFor(x=> x.FirstOrDefault().Price)</th>
                @if (User.IsInRole(RoleDefinitions.ProductAdmin))
                {
                    <th>@Html.DisplayNameFor(x=> x.FirstOrDefault().Categories)</th>
                    <th>@Html.DisplayNameFor(x=> x.FirstOrDefault().Company)</th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td class="visually-hidden">@product.Id</td>
                    <td>
                        <a href="@Url.Action("ProductEdit","Home",new {Id = product.Id })"><i class="fa-solid fa-pen"></i></a> @product.Name
                    </td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    @if (User.IsInRole(RoleDefinitions.ProductAdmin))
                    {
                        <td>
                            @string.Join(",", product.Categories.Select(x=> x.Name))
                        </td>

                        <td>
                            @product.Company.Name
                        </td>
                    }
                </tr>


            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $("#products").DataTable();
            //$('#categories').select2({
            //    closeOnSelect: false,
            //    placeholder: 'Kategorileri Seçiniz'
            //});

            //$('#companies').select2({
            //    closeOnSelect: false,
            //    placeholder: 'Firmaları Seçiniz'
            //});

        });
    </script>
}




